<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Starbucks Coffee</title>
</head>
<body>
    <main>
        <h1>Starbucks</h1>
        <div id="Star">
            <h2>Seasonal Coffee Pumpkim Spice Latta</h2>
            <p>Our signature espresso and steamed milk<br>
                 with the celebrated flavor combination of pumpkin, <br>
                cinnamon, nutmeg and clove. <br>
                Enjoy it topped with whipped cream and real pumpkin pie spices.<br></p>
            <img src="images/psl.png" alt="psl">
            <button class="button">More</button>
        </div>
        
    </main>

    <script src="js/main.js"></script>
</body>
</html>